body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*Global*/
.container {
    width: 90%;
    
    margin: 0 auto;
    overflow: hidden;
}
p {
    text-align: center;
}
ul {
    padding: 0;
    margin: 0;
    list-style:none;
}
.button_1 {
    height: 37px;
    width: 100px;
    background: #54abe6;
    border: none;
    padding: 0 10px;
    color: #f5f8fa;
    font-size: 12px;
    text-transform: uppercase;

}
.dark {
    padding: 15px;
    background: #042142;
    color: white;
    margin: 10px 0;
}
#main {
    min-height: 450px;
}
/*Header*/
 header {
     background-color:#042142;
     color: #ffffff;
     padding-top: 30px;
     min-height: 70px;
     border-bottom: #54abe6 3px solid;
 }
  header a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
  }

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1{
    margin: 0;
}
header .hightlight, header .current a {
   color:#44a1df;
   font-weight: bold; 
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
header nav {
float:right;
margin-top: 10px;
}
/*Showcase*/
#showcase {
    min-height: 400px;
    background: url('../img/tech-background.png');
    text-align: center;
    color: #ffffff;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
}
/*Newsletter*/
#newsletter {
    padding: 15px;
    color: #ffffff;
    background-color: #042142;
}
#newsletter h1 {
    float: left;
}
#newsletter form {
    float: right;
    margin: 15px;
}
#newsletter input[type="email"] {
    padding: 4px;
    height:25px;
    width:250px;
}
/*Boxes*/
#boxes {
    margin-top: 10px;
}
#boxes .box {
    width: 30%;
    padding: 10px;
    float: left;
    text-align: center;
}
#boxes .box img {
    width: 90px;
 }
 #boxes .box h1{
     margin: 0;
 }
 #boxes .box p{
    margin: 5px;
}
/*SideBar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}
#sidebar .quote .center-btn{
    text-align: center;
}
aside#sidebar .quote input, aside#sidebar .quote textarea {
width: 90%;
padding: 5px;
margin: 5px;
}
/*main-col*/
article#main-col{
    float:left;
    width: 65%;

}
#main p {
    text-align: justify;
}
/*Services*/
ul#services li{
list-style: none;
padding: 10px;
border: #cccccc solid 1px;
margin: 0 0 5px;
background: #e6e6e6;
}

 /*Footer */
 footer {
     padding: 10px;
     margin-top: 10px;
     text-align: center;
     color:white;
     background-color: #44a1df;
 }
 /*Media Queries*/

 @media(max-width: 768px) {
    header #branding,
    header nav, header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar 
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    
#showcase h1 {
margin-top:40px;
}
#newsletter form input[type = "email"], 
.quote input,
 .quote textarea {
    width: 100%;
    margin: 5px 0 5px;
}
#newsletter button {
 width:100%;
}
.quote button {
    width:95%;
} 
 }